body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #f7f7f7;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background: #e30613;
  color: white;
  padding: 20px 10px;
  text-align: center;
}

.slogan {
  margin-top: 5px;
  font-style: italic;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.hero h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.hero p {
  margin-bottom: 20px;
  font-size: 1.1rem;
}

.btn-whatsapp {
  background-color: #25D366;
  color: white;
  padding: 12px 25px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 8px;
  font-size: 1rem;
  display: inline-block;
  margin-bottom: 20px;
}

.btn-whatsapp:hover {
  background-color: #1ebc5b;
}

footer {
  text-align: center;
  padding: 15px;
  background: #ddd;
  font-size: 0.9rem;
}

.logo {
  width: 100px;
  height: auto;
  display: block;
  margin: 0 auto 10px auto;
  border-radius: 10px;
}

.social-icons {
  margin-top: 10px;
}

.social-icons a img {
  width: 40px;
  height: 40px;
  margin: 0 10px;
  transition: transform 0.2s ease;
}

.social-icons a img:hover {
  transform: scale(1.1);
}
